data/
runs/
2_detect_tents_Dallas.ipynb
yolo/results.csv
2_detect_tents_DC.ipynb
yolo/args.yaml
yolo/confusion_matrix_normalized.png
yolo/confusion_matrix.png
yolo/results.png
yolo/train_batch0.jpg
yolo/train_batch1.jpg
yolo/train_batch2.jpg
yolo/val_batch0_labels.jpg
yolo/val_batch0_pred.jpg
yolo/val_batch1_labels.jpg
yolo/val_batch1_pred.jpg
yolo/val_batch2_labels.jpg
yolo/val_batch2_pred.jpg
